rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /backgrounds/{imageId}{
    	//read only
    	allow read;
    }
    match /results/{userId}{
      allow read, write: if request.auth.uid != null;
    }
    match /results/{userId}/skilltrees/{skilltreeId}{
    	allow read: if request.auth.uid != null;
      allow write: if 
      request.auth.uid == get(/databases/$(database)/documents/compositions/$(resource.data.compositionId)).data.user || 
      (request.auth.uid != null &&
      get(/databases/$(database)/documents/compositions/$(resource.data.compositionId)).data.loggedInUsersCanEdit)
    }
    match /compositions/{compositionId}{
    	allow read: if !resource.data.loggedInUsersOnly || request.auth.uid != null;
      allow write: if request.auth.uid != null;
    }
    match /{document=**} {
      allow read; 
      allow write: if request.auth.uid != null;
    }
  }
}
