.sv-title {
	font-family: unset;
}

.question-actions .svda_question_action .svd-svg-icon{
  font-weight: unset;
}

.sv-container-modern__title {
  padding-top: unset;
  padding-bottom: unset;
}

.question-actions .svda_question_action--separated {
	padding-left: unset;
}

.sv-container-modern{
	font-size: unset;
	font-family: 'Nunito';
}

.svda-select-items-title{
	font-family: unset;
}

.svd_container.sv_modern_css svd-property-editor {
	margin-bottom: 10px;
}

.sv-root-modern .sv-footer__complete-btn {
	background-color: #27405f !important;
}

.sv-root-modern .sv-question__title--answer {
	background-color: rgba(212,130,58, 0.2) !important;
}

.sv-root-modern .sv-checkbox--checked .sv-checkbox__svg {
	background-color: #27405f !important;
}

.sv-root-modern .sv-rating__item--selected .sv-rating__item-text {
	background-color: #27405f !important;
	border-color: #27405f !important;
}

.svd_container.sv_modern_css .svd-control {
	padding: 12px;
}

.sv-root-modern .sv-file__choose-btn--disabled{
	background-color: unset !important;
}

.sv-body__page{
	margin-top: unset;
}

@media only screen and (min-width: 1000px){
	.sv-body__page{
		margin-right: unset;
		margin-left: unset;
	}
}

.sa-question__title {
	font-family: 'Nunito' !important;
}
